version: "3.9"

services:
  postgres:
    image: pgvector/pgvector:pg15
    container_name: zarai_pgvector
    environment:
      POSTGRES_DB: zarai_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5433:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    restart: unless-stopped

  pgadmin:
    image: dpage/pgadmin4
    container_name: zarai_pgadmin
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@zarai.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "5050:80"
    depends_on:
      - postgres
    restart: unless-stopped

volumes:
  pgdata:
